:root {
  --card-background-color: #f4f3ed;
  --card-dark-color: #111;
  --thick-line-strength: 1px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Fira Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


body {
  text-align: center;
  background-color: var(--card-dark-color);
  color: var(--card-background-color);
  margin: 0;
}

header {
  grid-column: span 4;
  grid-row: 1;
}

nav {
  grid-row: 1;
  background-color: var(--card-dark-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  padding: 0.6rem 6rem;
}

#logo {
  text-align: left;
  text-transform: uppercase;
  margin-right: auto;
  font-weight: 600;
  font-size: 1rem;
}

ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  height: 4em;
  margin: 0 auto;
  flex-grow: 1;
  font-size: 0.8rem;
}

nav ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255);
}


footer {
  background-color: var(--card-dark-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-link {
  text-decoration: underline;
  text-underline-offset: 0.5em;
}

/* Navigation Behavior */
.transparent-light {
  background-color: rgba(16, 16, 16, 0.1);
  transition: background-color 0.3s ease;
}

.transparent-dark {
  background: rgba(16, 16, 16, 0.93);
  box-shadow: 0 4px 30px rgba(3, 3, 3, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  border: 1px solid rgba(27, 27, 27, 0.52);
  transition: background-color 0.3s ease;
}

/* Font color for top of page */
.font-black {
  color: var(--card-dark-color);
}

/* Font color for scrolled state */
.font-white {
  color: var(--card-background-color);
}