:root {
  --card-background-color: #f4f3ed;
  --card-dark-color: #111;
  --website-green-color: rgb(67, 255, 211); 
  --website-dark-green-color: rgba(0, 132, 127, 0.1); ; 
  --thick-line-strength: 1px;
  --dark-color:#090909;
  --website-background-color: rgb(14, 14, 14);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Fira Sans", "Segoe UI", Tahoma, Verdana, sans-serif;
}

body {
  text-align: center;
  background-color: var(--website-background-color);
  color: var(--card-background-color);
  margin: 0;
}

header {
  grid-column: span 4;
  grid-row: 1;
}

main {
  position: relative;
}

.content-wrapper {
  padding-top: 5em; /* Add padding equal to the height of the nav bar */
}

footer {
  background-color: var(--card-dark-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
